
@import url(´https://fonts.googleapis.com/css?family=raliway:400,700&display=swap);

body {
    font-family: "raleway"  , sans-serif;
}
header {
    display: flex;
    background-color: rgb(9, 10, 10);
    justify-content: flex-end; /*also allowed: flex-start center height: 500px;*/

}
header nav ul li {
    display: inline-block;
    margin: 5px
}
header nav ul li a {
    color: #ffffff;
} 
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
section table {
    background-color: rgb(199, 183, 162);
    width: 100%;
    height: 500px;
}
section table tr th {
    color: blue;
}
section table tr td {
    color: darkslateblue;
}
